.accordion {
    --bs-accordion-bg: #e7e9eb;
    --bs-accordion-active-color: black;
    --bs-accordion-active-bg: #b4b4b4;
    --bs-accordion-btn-focus-border-color: #000000;
    --bs-accordion-btn-focus-box-shadow: #5a5858;

}